@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.highlightText {
  background: var(
    --Gradient-05,
    linear-gradient(118deg, #1fa2ff -3.62%, #12d8fa 50.44%, #a6ffcb 104.51%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage_bg {
  background: url("./assets/Images/bghome.svg");
}
